[LevelInfo0]
; EN: Title="Phobos Moon"
Title=""
IdealPlayerCount="4-8"

[ZoneInfo5]
; EN: ZoneName="Outer Space"
ZoneName=""

[ZoneInfo7]
; EN: ZoneName="Central"
ZoneName=""

[ZoneInfo6]
; EN: ZoneName="Lift 1"
ZoneName=""

[ZoneInfo8]
; EN: ZoneName="Stairs Corridor"
ZoneName=""

[ZoneInfo9]
; EN: ZoneName="BioRifle Corridor"
ZoneName=""

[LevelSummary]
; EN: Title="Phobos Moon"
Title=""
IdealPlayerCount="4-8"
