[LevelInfo0]
; EN: Title="Tempest"
Title=""
IdealPlayerCount="4-16"

[ZoneInfo0]
; EN: ZoneName="West Wing"
ZoneName=""

[ZoneInfo2]
; EN: ZoneName="Rocket Room"
ZoneName=""

[ZoneInfo1]
; EN: ZoneName="Damage Amp"
ZoneName=""

[ZoneInfo3]
; EN: ZoneName="Shield Belt"
ZoneName=""

[LevelSummary]
; EN: Title="Tempest"
Title=""
IdealPlayerCount="4-16"
