[LevelInfo0]
; EN: Title="Bulletproof"
Title=""
IdealPlayerCount="8-16"

[ControlPoint2]
; EN: PointName="Omega"
PointName=""

[ControlPoint1]
; EN: PointName="Delta"
PointName=""

[ControlPoint0]
; EN: PointName="Alpha"
PointName=""

[LevelSummary]
; EN: Title="Bulletproof"
Title=""
IdealPlayerCount="8-16"
