[LevelInfo0]
; EN: Title="DOM Tutorial"
Title=""

[ControlPoint0]
; EN: PointName="Alpha"
PointName=""

[ControlPoint1]
; EN: PointName="Gamma"
PointName=""

[LevelSummary]
; EN: Title="DOM Tutorial"
Title=""
