[LevelInfo0]
; EN: Title="Blood Letting"
Title=""
IdealPlayerCount="2-5"
; EN: LevelEnterText="Entering the Blood Letting"
LevelEnterText=""

[LevelSummary]
; EN: Title="Blood Letting"
Title=""
IdealPlayerCount="2-5"
; EN: LevelEnterText="Entering the Blood Letting"
LevelEnterText=""
