[LevelInfo0]
; EN: Title="Exar"
Title=""
IdealPlayerCount="2-4"
; EN: LevelEnterText="227-Patch Map."
LevelEnterText=""

[LevelSummary]
; EN: Title="Exar"
Title=""
IdealPlayerCount="2-4"
; EN: LevelEnterText="227-Patch Map."
LevelEnterText=""
