[LevelInfo0]
; EN: Title="The Villa Docks"
Title=""
IdealPlayerCount="3-9"
; EN: LevelEnterText="The Villa Docks"
LevelEnterText=""

[LevelSummary]
; EN: Title="The Villa Docks"
Title=""
IdealPlayerCount="3-9"
; EN: LevelEnterText="The Villa Docks"
LevelEnterText=""
