[LevelInfo0]
; EN: Title="Fractal Reactor"
Title=""
IdealPlayerCount="2-4"
; EN: LevelEnterText="Don't get caught in the floor portal!"
LevelEnterText=""

[LevelSummary]
; EN: Title="Fractal Reactor"
Title=""
IdealPlayerCount="2-4"
; EN: LevelEnterText="Don't get caught in the floor portal!"
LevelEnterText=""
