[LevelInfo2]
; EN: Title="Cellars at Dasa Pass"
Title=""
; EN: LevelEnterText="Entering the Cellars at Dasa Pass"
LevelEnterText=""

[LevelSummary]
; EN: Title="Cellars at Dasa Pass"
Title=""
; EN: LevelEnterText="Entering the Cellars at Dasa Pass"
LevelEnterText=""
