[LevelInfo5]
; EN: Title="Skaarj Generator"
Title=""
; EN: LevelEnterText="Entering the Skaarj Generator"
LevelEnterText=""

[LevelSummary]
; EN: Title="Skaarj Generator"
Title=""
; EN: LevelEnterText="Entering the Skaarj Generator"
LevelEnterText=""
