[Public]
Object=(Name=FMODAudioDrv.FMODAudioDevice,Class=Class,MetaClass=Engine.AudioSubsystem,Autodetect=,Compat="Win32,Lin32")
; Remember to add localizaed content to LangCaption!
Preferences=(Caption="FMOD 3D Audio Support",Parent="Audio",Langcaption="",Class=FMODAudioDrv.FMODAudioDevice,Immediate=True)

[FMODAudioDevice]
; EN: ClassCaption="FMOD 3D Audio Support"
ClassCaption=""
