[LevelInfo3]
; EN: Title="Nagomi Passage"
Title=""
; EN: LevelEnterText="Returning to Nagomi Passage"
LevelEnterText=""

[LevelSummary]
; EN: Title="Nagomi Passage"
Title=""
; EN: LevelEnterText="Returning to Nagomi Passage"
LevelEnterText=""
