[LevelInfo8]
; EN: Title="Demonlord's Lair"
Title=""
; EN: LevelEnterText="Entering the Demonlord's Lair"
LevelEnterText=""

[LevelSummary]
; EN: Title="Demonlord's Lair"
Title=""
; EN: LevelEnterText="Entering the Demonlord's Lair"
LevelEnterText=""
