[Public]
Object=(Name=SwFMOD.SwFMOD,Class=Class,MetaClass=Engine.AudioSubsystem,Autodetect=)
; Remember to add localizaed content to LangCaption!
Preferences=(Caption="SwFModEx Audio Support",Parent="Audio",Langcaption="",Class=SwFMOD.SwFMOD,Immediate=True)

[SwFMOD]
; EN: ClassCaption="SwFModEx Audio Support"
ClassCaption=""
