[Public]
Object=(Name=SwFMOD.SwFMOD,Class=Class,MetaClass=Engine.AudioSubsystem,Autodetect=)
; Remember to add localizaed content to LangCaption!
Preferences=(Caption="SwFModEx",Parent="Audio",Langcaption="SwFModEx",Class=SwFMOD.SwFMOD,Immediate=True)

[SwFMOD]
; EN: ClassCaption="SwFModEx"
ClassCaption="SwFModEx"
