[LevelInfo2]
; EN: Title="Bounds of Foundry"
Title=""

[LevelSummary]
; EN: Title="Bounds of Foundry"
Title=""

[Counter0]
; EN: CountMessage="%i more to go..."
CountMessage=""
; EN: CompleteMessage="Pumps destroyed! Emergency doors open."
CompleteMessage=""

[TranslatorEvent2]
; Translator messages. Make sure they aren't over 300 characters large.
; EN: Message="Crane controls must be activated in lower control room."
Message=""

[TranslatorEvent6]
; Translator messages. Make sure they aren't over 300 characters large.
; EN: Message="Warning: Simultaneous activation of both pumps might result in explosion due to pressure level!"
Message=""

[TranslatorEvent3]
; Translator messages. Make sure they aren't over 300 characters large.
; EN: Message="WARNING: Toxic fume buildup exceeds regulation limits. Exercise caution with weaponry near Tarydium byproducts."
Message=""

[TranslatorEvent5]
; Translator messages. Make sure they aren't over 300 characters large.
; EN: Message="WARNING: Remain clear of Tarydium Byproducts unless properly outfitted with Toxin Suit."
Message=""
; EN: AltMessage="Test!"
AltMessage=""
