[LevelInfo3]
; EN: Title="The Darkening"
Title=""

[LevelSummary]
; EN: Title="The Darkening"
Title=""

[TranslatorEvent10]
; EN: Message="The Source Antechamber, ACCESS DENIED."
message=""

[TranslatorEvent0]
; EN: AltMessage="Authorization granted. Activate the Emergency Power Supply."
AltMessage=""
