[LevelSummary]
; EN: Title="Intermission 6"
Title=""

[TransitionGenderEvent0]
; Note: Make the texts and their length coincide with their equivalents in Sounds/<lng>/Interm6.uax
OutDelays[1]=5.000000
; EN: CommonText[0]="Life was hard. Then it got harder. I hate Titans."
MaleText[0]=""
FemaleText[0]=""
