[Public]
Object=(Name=IpServer.UdpServerUplink,Class=Class,MetaClass=Engine.Actor)
; Localized string here goes in LangCaption, e.g. Langcaption="Comunicación con Servidor Maestro" (spanish)
Preferences=(Caption="Master Server Uplink",Parent="Networking",Langcaption="",Class=IpServer.UdpServerUplink,Immediate=True)

[ServerUplink]
; EN: ClassCaption="Master Server Uplink"
ClassCaption=""

[ServerQuery]
; EN: ClassCaption="Game Server Query"
ClassCaption=""
