[LevelInfo0]
; EN: Title="Velora Pass"
Title=""
; EN: LevelEnterText="Entering Velora Pass"
LevelEnterText=""

[LevelSummary]
; EN: Title="Velora Pass"
Title=""
; EN: LevelEnterText="Entering Velora Pass"
LevelEnterText=""
