[LevelInfo0]
; EN: Title="Arcane Temple"
Title=""
IdealPlayerCount="3-8"

[LevelSummary]
; EN: Title="Arcane Temple"
Title=""
IdealPlayerCount="3-8"

[WaterZone0]
; EN: ZoneName="Top of the Cascade"
ZoneName=""

[WaterZone1]
; EN: ZoneName="Cascade Current"
ZoneName=""

[WaterZone2]
; EN: ZoneName="Redeemer Lake"
ZoneName=""

[WaterZone3]
; EN: ZoneName="Ramps Area (Swimming)"
ZoneName=""

[ZoneInfo0]
; EN: ZoneName="Outside"
ZoneName=""
