[LevelInfo0]
; EN: Title="Codex of Wisdom"
Title=""
IdealPlayerCount="2-8"

[ZoneInfo14]
; EN: ZoneName="Codex"
ZoneName=""

[LevelSummary]
; EN: Title="Codex of Wisdom"
Title=""
IdealPlayerCount="2-8"
