[LevelInfo0]
; EN: Title="Koos Galleon"
Title=""
IdealPlayerCount="4-12"
; EN: LevelEnterText="SHIVER ME TIMBERS!!!"
LevelEnterText=""

[WarpZoneInfo0]
; EN: ZoneName="Underwater"
ZoneName=""

[LevelSummary]
; EN: Title="Koos Galleon"
Title=""
IdealPlayerCount="4-12"
; EN: LevelEnterText="SHIVER ME TIMBERS!!!"
LevelEnterText=""
