[LevelInfo0]
; EN: Title="Ice Station Zeto"
Title=""
IdealPlayerCount="4-12"
; EN: LevelEnterText="Stay Cool."
LevelEnterText=""

[LevelSummary]
; EN: Title="Ice Station Zeto"
Title=""
IdealPlayerCount="4-12"
; EN: LevelEnterText="Stay Cool."
LevelEnterText=""
