[LevelInfo0]
; EN: Title="Lament"
Title=""
IdealPlayerCount="2-4"
; EN: LevelEnterText="Control it all!"
LevelEnterText=""

[ControlPoint0]
; EN: PointName="Central"
PointName=""

[ControlPoint1]
; EN: PointName="Upper"
PointName=""

[ControlPoint2]
; EN: PointName="Lower"
PointName=""

[LevelSummary]
; EN: Title="Lament"
Title=""
IdealPlayerCount="2-4"
; EN: LevelEnterText="Control it all!"
LevelEnterText=""
