[LevelInfo0]
; EN: Title="Lament ]["
Title=""
IdealPlayerCount="2-4"
; EN: LevelEnterText="Break out the rubber, it's DOMINATION time!"
LevelEnterText=""

[ControlPoint2]
; EN: PointName="Lower"
PointName=""

[ControlPoint0]
; EN: PointName="Central"
PointName=""

[ControlPoint1]
; EN: PointName="Upper"
PointName=""

[LevelSummary]
; EN: Title="Lament ]["
Title=""
IdealPlayerCount="2-4"
; EN: LevelEnterText="Break out the rubber, it's DOMINATION time!"
LevelEnterText=""
