[public]
; EN: Object=(Name=RelicsBindings.ExtraRelicsBindings,Class=Class,MetaClass=UTMenu.UTExtraKeyBindings,Description="Relics,Toss Relic")
Object=(Name=RelicsBindings.ExtraRelicsBindings,Class=Class,MetaClass=UTMenu.UTExtraKeyBindings,Description=",")

[ExtraRelicsBindings]
; EN: SectionName="Relics"
SectionName=""
; EN: LabelList[0]="Toss Relic"
LabelList[0]=""
