[UWindowMessageBoxCW]
; EN: YesText="Yes"
YesText=""
; EN: NoText="No"
NoText=""
; EN: OKText="OK"
OKText=""
; EN: CancelText="Cancel"
CancelText=""

[UWindowConsoleWindow]
; EN: WindowTitle="System Console"
WindowTitle=""

[UWindowSmallCloseButton]
; EN: CloseText="Close"
CloseText=""

[UWindowSmallCancelButton]
; EN: CancelText="Cancel"
CancelText=""

[UWindowSmallOKButton]
; EN: OKText="OK"
OKText=""

